body{
			background: #cc;
		}
		.boxmain{
			width: 960px;
			height: 400px;
			background: #f60;
			border: 10px solid blue;
			-webkit-box-sizing:border-box;
			box-shadow: 5px 5px 5px rgba(0,0,0,.8);
			text-align: center;
			margin: 10px auto;

		}

		.div1{
			-webkit-box-sizing:border-box;
			height: 95%;
			box-sizing:boder-box;
			width: 45%;
			border:10px solid red;
			float: left;
			color: #fff;
			font-family: "Microsoft Yahei";			
			font-size: 16px;
			box-shadow: 5px 5px 5px rgba(0,0,0,.8);
		}
		.div2{
			-webkit-box-sizing:border-box;
			height: 95%;
			box-sizing:boder-box;
			width: 45%;
			transform:rotate(45deg);
			border:2px solid #fff;
			float: left;
			box-shadow: 5px 5px 5px rgba(0,0,0,.8);
			background: rgba(0,0,0,.09);
		}	
		.wrap{
			
			
			
			height: 50%;
			width: 50%;
			margin-left: 25%;
			margin-top: 10%;
		}
		.wrap .div1 h1{
			text-shadow:2px 2px 2px rgba(0,0,0,.6);
		}